# SPDX-FileCopyrightText: 2016 Antonin Bas
#
# SPDX-License-Identifier: Apache-2.0

# Python byte code
*.pyc
*.pyo

# Emacs
*~

# Compiled JSON
*.json
!*p4app.json
!topology.json
!*-runtime.json

*.pcap

# Extracted solutions
solution*/
!solution/

# Build folders
build*/

# Logs folders
logs/
# BMv2 / Mininet run logs (logs_ip_s1, logs_eval_s1, logs_icn_s1, ...)
logs*/

# Vagrant
.vagrant/

# Mac OS
*.DS_Store

# IntelliJ / PyCharm
.idea/
